<!--  Replace menu links here -->

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories.html#powerapps">PowerApps</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories.html#dynamics-365">Dynamics 365</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/about.html">About</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>